<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">
<bean id= "student" class="com.bean.Student">
	<property name="studentId" value="8"></property>
	<property name="firstName" value="hhhhh"></property>
	<property name="lastName" value="rrr"></property>
	<property name="address" ref="address"></property>
	</bean>
	
	<bean id="address" class="com.bean.Address">
	<property name="doorNo" value="22"></property>
	<property name="city" value="Tup"></property>
	<property name="state" value="TN"></property>
	</bean>
</beans>